*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: blue;
    color: #fff;
    font-size: 1.1rem;
    height: 8vh;
    padding: 1rem;
}

#Map {
    height: 92vh;
    width: 100%;
}